# Example permission profile for graphical, networked applications like a web
# browser. The intention of this is to be able to customize permissions on the
# go, along with allowing AppImages to embed the permissions they require into
# their main desktop entry.

# `X-AppImage-Sandbox-Level` is required, all of the other flags are optional

# The `Desktop Entry` section is NECESSARY!
[Desktop Entry]
X-AppImage-Sandbox-Level=2
X-AppImage-Sandbox-Files=xdg-desktop;xdg-download:rw;
X-AppImage-Sandbox-Devices=dri;
X-AppImage-Sandbox-Sockets=x11;wayland;pulseaudio;
X-AppImage-Sandbox-Share=network;
